body {
      margin: 0;
      background-color: white;
      height: 100vh;
}
#head{
    background-color: black;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    color: aliceblue;
    margin: 0;
}
.name-page{
    text-align: center;
}
.nav-bar{
grid-template-columns: repeat(2, 1fr);
}